@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ffffff;
}

header {
    height: max-content;
    width: 100%;
    display: flex;
}

.logo {
    display: flex;
    width: 10%;
    height: 20%;
    float: left;
    left: 0;
}

#table {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    padding-top: 5%;
    color: #1E1E1E;
    padding-left: 1%;

}

.outer {
    display: flex;
    width: 200px;
    height: 200px;
}

.inner {
    width: 100px;
    margin: auto;
}

nav {
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: 3%;
}


.navi_buttons_active {
    margin-right: 10px;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    height: 20px;
    background-color: #d50000;
    width: max-content;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-align: right;
}

.navi_buttons_disable {
    margin-left: -5px;
    margin-right: 5px;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    height: 20px;
    background-color: #1E1E1E;
    width: max-content;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-align: right;
}

.navi_buttons_active:hover {
    background-color: #FF0000;
}

.navi_buttons_disable:hover {
    background-color: #ff0000;
}

nav {
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: 3%;
}

nav a {
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    height: 20px;
    background-color: #D50000;
    width: max-content;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-align: right;
}

.active {
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    height: 20px;
    background-color: #1E1E1E;
    width: max-content;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-align: right;
}

nav a:hover {
    background-color: #FF0000;
}

nav a .active:hover {
    background-color: #391E1E;
}

main {
    font-family: "Roboto", sans-serif;
    font-size: large;
    padding: 1%;
    word-spacing: 2px;
}

pre, .quote, .load_time {

    background-color: #1E1E1E;
    color: #ffffff;
    width: max-content;
    height: max-content;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    word-spacing: 2px;
}

code {
    font-family: Arial, sans-serif;
}

h3 {
    font-weight: bold;
    font-size: 25px;
    border-radius: 7px;
    background-color: #1E1E1E;
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    color: white;
    box-shadow: 7px 3px 3px red;
    margin: 35px 35px 10px;
}

h2 {

    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    background-color: #1E1E1E;
    width: max-content;
    height: max-content;
    padding: 5px;
    color: white;
    box-shadow: 10px 5px 5px red;
    margin: 40px 5px 15px;
}

h1 {
    font-weight: bold;
    font-size: 3px;

    width: max-content;
    height: max-content;
    padding: 5px;
    color: white;
}

i {
    font-style: italic;
    text-transform: capitalize;
}

footer {
    margin-top: 1%;
    display: flex;
    float: left;
}


.logo_github{
    height: 5%;
    width: 5%;
    padding-right: 1%;
}

.logo_vk {
    height: 5%;
    width: 5%;
    padding-right: 1%;
}

.logo_tg {
    margin-top: 15px;
    height: 4%;
    width: 4%;
    padding-right: 1.6%;
}

.logo_dice {
    margin-top: 15px;
    height: 4%;
    width: 4%;
    padding-right: 1.6%;
}

.logo_dnd {
    margin-top: 40px;
    margin-left: 80px;
    height: 20%;
    width: 20%;

}

p {
    width: 95%;
}

.markers {
    margin: 0 0 20px 24px;
    padding: 0;
    font-size: 20px;
    list-style-type: marker-font;
}
.markers li::marker {
    font-family: 'Material Icons', serif;
    color: red;
    line-height: 1;
    font-size: 14px;
}
.markers li {
    margin: 7px 0;
    font-size: 14px;
}

.character_info p {
    width: 100%;
    border-radius: 7px;
    background-color: black;
    color: white;
    padding: 1%;
    margin: 1%;
}

.character_info img {
    align-content: center;
    margin: 1%;
    border-radius: 10px;
}

.img_default {
    align-content: center;
    margin: 1%;
    border-radius: 10px;
    width: 60%;
    height: 60%;
}

#initiativeForm, .table_section {
    background-color: #1E1E1E;
    width: max-content;
    padding: 1%;
    color: white;
    border-radius: 10px;
    margin: 2%;
    box-shadow: 7px 3px 3px red;
}

.table_section {
    align-content: center;
    display: block
}

.table_section th, .table_section td {
    align-content: center;
    border: 1px solid red;
    align-self: center;
    padding: 2%;
    border-radius: 10px;
}

#fixed{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    background-color: #D50000;
    width: max-content;
    height: max-content;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    color: white;
}

#fixed:hover{
    background-color: #FF0000;
}



@media (min-width:900px) {
    .d-flex {
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:auto;
    }

    #worldMap {
        display: block;
        margin-left: 20%;
        width: 1000px;
        height: 900px;
    }

    iframe {
        width: 100%;
        height: 100%;
        box-shadow: 10px 5px 5px red;
        border-radius: 10px;
        margin: 5px 5px 10px;
    }
}





td {
    text-align: left;
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
}
th {
    text-align: center;
    padding: 10px;
    border: 3px solid rgb(43, 129, 17);
}

